* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightseagreen;
}

.bordered-block {
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 22px;
}

.container {
    border: 4px solid white;
    border-radius: 10px;
    padding: 20px;
}

#city-name-input {
    text-align: center;
}

.weather {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.weather-description-wrapper {
    display: flex;
    align-items: center;
}

.weather-data {
    font-size: 25px;
    font-weight: bold;
    color: white;
}